 
<div rows="5" class="toolbar">


  <!-- Formatting options -->
  <button mat-icon-button matTooltip="Bold" (click)="format('bold')" title="Bold">
      <mat-icon>format_bold</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Format Italic" (click)="format('italic')"
      title="Italic">
      <mat-icon>format_italic</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Underline" (click)="format('underline')"
      title="Underline">
      <mat-icon>format_underline</mat-icon>
  </button>
  <button mat-icon-button matTooltip="StrikeThrough" (click)="format('strikeThrough')"
      title="Strikethrough">
      <mat-icon>format_strikethrough</mat-icon>
  </button>

  <button mat-icon-button matTooltip="Large Size" (click)="formatText('larger')"
      title="Heading 1">
      +
   </button>
  <div  (click)="formatText('H2')" class="fontnumber"
      title="Heading 2">
      {{fontside}}
   </div>
  <button mat-icon-button matTooltip="Small Size" (click)="formatText('smaller')"
      title="Heading 3">
      -
  </button>

  <button mat-icon-button matTooltip="Bullet List" (click)="AddOrder('insertUnorderedList')"
      title="Bullets">
      <mat-icon>format_list_bulleted</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Number List" (click)="AddOrder('insertOrderedList')"
      title="Numbers">
      <mat-icon>format_list_numbered</mat-icon>
  </button>

  <button mat-icon-button matTooltip="justify Left" (click)="format('justifyLeft')"
      title="Align Left">
      <mat-icon>format_align_left</mat-icon>
  </button>
  <button mat-icon-button matTooltip="justify Center" (click)="format('justifyCenter')"
      title="Align Center">
      <mat-icon>format_align_center</mat-icon>
  </button>
  <button mat-icon-button matTooltip="justify Right" (click)="format('justifyRight')"
      title="Align Right">
      <mat-icon>format_align_right</mat-icon>
  </button>

  <button mat-icon-button matTooltip="Insert Link" (click)="createLink()" title="Insert Link">
      <mat-icon>insert_link</mat-icon>
  </button>

  <button mat-icon-button matTooltip="Table" (click)="openTableDialog()" title="Insert Table">
      <mat-icon>table_chart</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Remove Row" (click)="removeRow()" title="Remove Row">
      <mat-icon>crop_7_5</mat-icon>
  </button>
  <button mat-icon-button matTooltip="Remove Column" (click)="removeColumn()"
      title="Remove Column">
      <mat-icon class="rotate-180">crop_7_5</mat-icon>
  </button>

  <button mat-icon-button (click)="undo()" matTooltip="Undo" title="Undo">
      <mat-icon>undo</mat-icon>
  </button>
  <button mat-icon-button (click)="redo()" matTooltip="Redo" title="Redo">
      <mat-icon>redo</mat-icon>
  </button>

  <button mat-icon-button (click)="openCodeDialog()" matTooltip="Get Code" title="Code">
      <mat-icon>code</mat-icon>
  </button>


  <input matInput matTooltip="Text Colour" type="color" (change)="changeTextColor($event)"
      class="rounded-color-input" title="Text Color" />

  <input matInput matTooltip="Background Colour" type="color"
      (change)="changeBackgroundColor($event)" class="rounded-color-input"
      title="Background Color" />




  <!-- Table Dialog -->
  <ng-template #tableDialog>
      <mat-dialog-content>
          <h3>Create Table</h3>
          <form (submit)="insertTable($event)">
              <mat-form-field>
                  <mat-label>Rows</mat-label>
                  <input matInput id="rows" type="number" [(ngModel)]="tableRows" name="rows"
                      required />
              </mat-form-field>
              <mat-form-field>
                  <mat-label>Columns</mat-label>
                  <input matInput id="cols" type="number" [(ngModel)]="tableCols" name="cols"
                      required />
              </mat-form-field>
              <button mat-raised-button type="submit">Insert Table</button>
              <button mat-button type="button" (click)="closeTableDialog()">Cancel</button>
          </form>
      </mat-dialog-content>
  </ng-template>



  <ng-template #codeDialog>
      <mat-dialog-content class="codedialog">
          <div class="html-COde">
              <h3>Generated HTML:</h3>
              <span>{{ htmlContent }}</span>
          </div>
          <button mat-raised-button (click)="copyCode()">Copy Code</button>

      </mat-dialog-content>


  </ng-template>
</div>
<div class="design-cont">
  <div #editorRef contenteditable="true" [style.font-size]="fontside" class="editor" (input)="updateContent()"></div>

</div>