.editor {
    border: 1px solid #ccc;
    min-height: 200px;
    padding: 10px;
    overflow-y: auto;
  }
  
  .toolbar {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  
  .toolbar button {
    margin-right: 8px;
  }
  
  .table-dialog {
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
  }
  

 .html-COde{
  padding: 20px;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 4px;  
  height: 200px;
  overflow-y: auto;

 }

 .codedialog{
  overflow: hidden;
 }